
/*
    This file will be used for the primary colors of
*/

$primary-color: #f0f8ff;
$secondary-color: #cfe8fc;

$accent-color: #007acc;

$background-color: #f9fbfc;

$text-color: #1e1e1e; 

$border-color: #d1d5db;
$highlight-color: #ffb347;

$success-color: #4caf50;
$error-color: #e53935;
