@import '../../styles/common/resets';
@import '../../styles/common/fonts';
@import '../../styles/common/colors';
@import '../../styles/common/tools';


body {
    @include FlexCell();
    background-color: $surface-2;
    border-bottom: 3px solid $border-color;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
    font-weight: weight(bold);
    gap: 1em;

    .logo {
        border-radius: 0.5em;
        padding: .85em;
        color: $text-color;
    }

    button {
        background: none;
        border: none;

        svg {
            cursor: pointer;
            flex-shrink: 0;
        }
    }
}