* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: #b9dcf842;
}

header .logo {
  max-width: 6%;
  height: auto;
  border-radius: 8px;
  margin: 0 30px 0 0;
}

header h1 {
  font-size: 2.5rem;
  margin-right: auto;
}

#nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-left: 0;
}

.nav-item a {
  text-decoration: none;
  color: #0078d7;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #3333333d;
}

.nav-item a:hover {
  background-color: #3333330c;
}

#services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding-left: 0;
}

.service-item {
  text-align: center;
  background: linear-gradient(100deg, #b9dcf8, #baadeb);
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
  color: #000;
}

section,
article {
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  max-width: 90%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
  color: #0078d7;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.phone-split {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-split {
  display: flex;
  gap: 10px;
}

.phone-split select {
  flex: 0 0 25%;
}

.phone-split input {
  flex: 1;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#message {
  min-height: 100px;
  resize: vertical;
}

input[type="submit"] {
  align-self: center;
  width: 200px;
  padding: 10px;
  font-weight: bold;
  background: #0078d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #005ea6;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #3333330a;
  border-radius: 8px;
}
