<div class="sidebar-class">

    <ul class="sidebar-menu">
        @for (item of side_bar; track item.title) {
        <li>
            <button class="menu-item" (click)="toggleMenuItem(item)">
                @if (item.icon) {
                <img class="icon" [src]="item.icon" />
                }
                <span class = "menu-item-title"> {{ item.title }} </span>
                @if (item.children?.length) {
                    <img class="arrow" [ngClass] = "item.isOpen? 'open' : 'closed'" src = "icons/adown.svg" />
                }
            </button>

            @if (item.isOpen && item.children?.length) {
            <ul class="submenu">
                @for (child of item.children; track child.title) {
                <li>
                    <button class="submenu-item">{{ child.title }}</button>
                </li>
                }
            </ul>
            }
        </li>
        }
    </ul>
</div>